:root {
  --s: 4px;
  --m: 8px;
  --l: 12px;
  --xl: 24px;
  --2xl: 48px;
  --white: #ffffff;
}

body {
  overscroll-behavior: contain;
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 100ms ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
